footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding-left: 4vh;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    color: white;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    text-decoration: none;
    font-size: 14px;
    color : white;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    cursor: pointer;
    padding-right: 4px;
    color: white;
}

footer .install .row img{
    border:1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 16px 0;
}
